
.Films{
    padding: 1rem;
}

.Films h2{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.allFilms{
    display: flex;
    overflow-x: scroll;
    z-index: 1;
}

.allFilms .movie_img{
   width: 40%;
   border-radius: 1rem;
   max-width: 300px;
   margin-right:1rem;
   cursor: pointer;
}
.allFilms .movie_img:hover{
    filter: brightness(1.1);
 }
.allFilms img:nth-last-child(-n+1){
    margin-right:0;
 }

 /*///////////////////////////BIgcard//////////////////////*/

 .containerBigcard{
    position: fixed;  

    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.397);
    backdrop-filter: blur(10px);
    

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
 }

 .bigcard{
     width: 100%;
     max-width: 900px;
     position: relative;
 }
 .bigcard .close {
    text-align: end;
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}
 
 .bigcard .close i{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 50%;
    font-size: 2rem;
}
 .bigcard img{
    width: 100%;
    max-width: unset;
    margin-bottom: .5rem;
    border-radius: 1rem;
}
.bigcard span{
    font-size: 1.5rem;

    font-weight: 700;

    margin-left: 1rem;
    
}
.bigcard .Nota_duracao{
    margin-top: .5rem;  
}
.bigcard .Nota_duracao{
    display: flex;

    align-items: center;
    
}
.bigcard .Nota_duracao span{
    display: flex;
    margin-right: 1rem;
    align-items: center;

   
    
}
.bigcard .Nota_duracao span:nth-child(1){
    display: flex;
    margin-right: 1rem;
    align-items: center;
    
}
.bigcard .tomato{
    width: 1.5rem;
    
}
.time{
    color: var(--cor2);
    font-size: 1.8rem;
}
.bigcard p{
    margin-top: 1rem;  
    
    padding: .5rem;
    border-radius: 1rem;

    font-weight: 700;

    
}
